<div class="music-button"></div>

<div class="music-player">
    <div class="music-player-hide"></div>
    <div class="music-player-wrap">
        <div class="music-player-album">
            <a href="#">
                <img src="img/ex-img.jpg" alt="">
                <span class="buy">
            BUY THIS TRACK
        </span>
            </a>
        </div>

        <div class="music-player-ticker">
            Artist Name - Track name ...... Artist N
        </div>

        <ul class="music-player-control">
            <li class="left"></li>
            <li class="play state"></li>
            <li class="right"></li>
        </ul>

        <ul class="music-player-list">
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
            <li><span class="play"></span>Artist Name - Track name</li>
        </ul>
    </div>
</div>
