//= templates/head.html
//= templates/main-nav.html

<div class="moving-panel" id="p1" data-name="my-world">
    <div class="close"></div>
    <div class="moving-panel-content">
        <header>
            <h1>
                <span class="title">My world</span>
                <a class="ico" href="#"></a>
            </h1>
        </header>

        <div class="nav-block">
            <ul class="nav-list">
                <li><a href="#">whats new</a></li>
                <li><a href="#">BIO</a></li>
                <li><a href="#">traveling</a></li>
                <li class="active"><a href="#">diet</a></li>
                <li><a href="#">training</a></li>
            </ul>
            //= templates/calendar-block.html
        </div>


    </div>
</div>

<div class="moving-panel" id="p2" data-name="online-shop">
    <div class="close"></div>
    <div class="moving-panel-content">
        <header>
            <h1>
                <span class="title">online shop</span>
                <a class="ico" href="#"></a>
            </h1>
        </header>

        <div class="nav-block">
            <ul class="nav-list">
                <li class="active"><a href="#">All item</a></li>
                <li><a href="#">calendare 2017</a></li>
                <li><a href="#">posters</a></li>
            </ul>

            //= templates/calendar-block.html
        </div>

        <aside class="item-grid">
            <figure class="item-grid-block">
                <div class="item-grid-info">
                    <img src="img/item.jpg" alt="">
                    <div class="item-grid-status">
                        <span class="sale">Sale</span>
                    </div>
                    <a href="#" class="add-bag">
                        <span class="add-bag-text">
                            I LOOOOVE Summertime, but who doesnt? What is here NOT to love: less clothing, girls in tiny
                            bikinis, boats, pools, sandy beaches, watermelons and more JUICY watermelons:) haha I wanted to create
                        </span>
                        <span class="add-bag-button">ADD TO BAG</span>
                    </a>
                </div>
                <figcaption class="details">
                    <span class="old-price">$300</span>
                    <span class="discount">$250</span>
                    <span class="title">calendar 2017</span>
                </figcaption>
            </figure>
            <figure class="item-grid-block">
                <div class="info">
                    <img src="img/item.jpg" alt="">
                    <div class="status">
                        <span class="new">New</span>
                    </div>
                </div>
                <figcaption class="details">
                    <span class="price">$250</span>
                    <span class="poster">posters</span>
                </figcaption>
            </figure>
            <figure class="item-grid-block">
                <div class="info">
                    <img src="img/item.jpg" alt="">
                    <div class="status">
                        <span class="new">New</span>
                        <span class="sale">Sale</span>
                    </div>
                </div>
                <figcaption class="details">
                    <span class="price">$250</span>
                    <span class="poster">posters</span>
                </figcaption>
            </figure>
            <figure class="item-grid-block">
                <img src="img/item.jpg" alt="">
                <figcaption class="details">
                    <span class="price">$250</span>
                    <span class="poster">posters</span>
                </figcaption>
            </figure>
            <figure class="item-grid-block">
                <img src="img/item.jpg" alt="">
                <figcaption class="details">
                    <span class="price">$250</span>
                    <span class="poster">posters</span>
                </figcaption>
            </figure>
            <figure class="item-grid-block">
                <img src="img/item.jpg" alt="">
                <figcaption class="details">
                    <span class="price">$250</span>
                    <span class="poster">posters</span>
                </figcaption>
            </figure>
            <figure class="item-grid-block">
                <img src="img/item.jpg" alt="">
                <figcaption class="details">
                    <span class="price">$250</span>
                    <span class="poster">posters</span>
                </figcaption>
            </figure>
            <figure class="item-grid-block">
                <img src="img/item.jpg" alt="">
                <figcaption class="details">
                    <span class="price">$250</span>
                    <span class="poster">posters</span>
                </figcaption>
            </figure>
            <figure class="item-grid-block">
                <img src="img/item.jpg" alt="">
                <figcaption class="details">
                    <span class="price">$250</span>
                    <span class="poster">posters</span>
                </figcaption>
            </figure>
            <figure class="item-grid-block">
                <img src="img/item.jpg" alt="">
                <figcaption class="details">
                    <span class="price">$250</span>
                    <span class="poster">posters</span>
                </figcaption>
            </figure>
            <figure class="item-grid-block">
                <img src="img/item.jpg" alt="">
                <figcaption class="details">
                    <span class="price">$250</span>
                    <span class="poster">posters</span>
                </figcaption>
            </figure>
            <figure class="item-grid-block">
                <img src="img/item.jpg" alt="">
                <figcaption class="details">
                    <span class="price">$250</span>
                    <span class="poster">posters</span>
                </figcaption>
            </figure>
        </aside>
    </div>
</div>

<div class="moving-panel" id="p3" data-name="my-gallerys">
    <div class="close"></div>
    <div class="moving-panel-content">

    </div>
</div>

<div class="moving-panel" id="p4" data-name="contact-me">
    <div class="close"></div>
    <div class="moving-panel-content">
    </div>
</div>

<div class="moving-panel" id="p5" data-name="members-login">
    <div class="close"></div>
    <div class="moving-panel-content">
        <header>
            <h1>
                <span class="title">PROFILE USER</span>
                <a class="ico" href="#"></a>
            </h1>
        </header>

        <div class="nav-block">
            <ul class="nav-list">
                <li><a href="#">whats new</a></li>
                <li><a href="#">BIO</a></li>
                <li><a href="#">traveling</a></li>
                <li class="active"><a href="#">diet</a></li>
                <li><a href="#">training</a></li>
            </ul>
            //= templates/calendar-block.html
        </div>
    </div>
</div>

<div class="show-calendar">
    //= templates/calendar-block.html
</div>

<div class="music"></div>


<!-- Слайдер -->
<ul class="slider" data-current="1">
    <li class="bg slide1" data-number="1">
        <div class="text">
            <h1>Full<br>party</h1>
            <span>texttexttext</span>
        </div>
    </li>
    <li class="bg slide2" data-number="2">
        <div class="text">
            <h1>Another<br>text</h1>
            <span>texttexttext</span>
        </div>
    </li>
    <li class="bg slide3" data-number="3">
        <div class="text">
            <h1>One more<br>text</h1>
            <span>texttexttext</span>
        </div>
    </li>
</ul>


//= templates/footer.html
