<div class="overlay">
    <div class="card-close"></div>
</div>

<div class="item-card">
    <div class="item-card-container" id="card-1">

        <input class="slide-btn" type="radio" name="card-photo" id="photo-1">
        <label class="slide-btn" for="photo-1"></label>
        <input class="slide-btn" type="radio" name="card-photo" id="photo-2">
        <label class="slide-btn" for="photo-2"></label>
        <input class="slide-btn" type="radio" name="card-photo" id="photo-3" checked>
        <label class="slide-btn" for="photo-3"></label>
        <input class="slide-btn" type="radio" name="card-photo" id="photo-4">
        <label class="slide-btn" for="photo-4"></label>
        <input class="slide-btn" type="radio" name="card-photo" id="photo-5">
        <label class="slide-btn" for="photo-5"></label>
        <input class="slide-btn" type="radio" name="card-photo" id="photo-6">
        <label class="slide-btn" for="photo-6"></label>

        <div class="item-card-info">
            <h1 class="item-card-info-title">T-shirt</h1>
            <p class="item-card-info-content">I LOOOOVE Summertime, but who doesnt? What is here NOT to love: less clothing, girls in tiny bikinis,
                boats, pools, sandy beaches, watermelons and more JUICY watermelons:) haha I wanted to create
            </p>
            <form action="#" class="form-card">
                <div class="color-picker">
                    <input type="radio" name="item-color" id="col-1">
                    <label for="col-1" class="form-card-label"></label>
                    <input type="radio" name="item-color" id="col-2">
                    <label for="col-2" class="form-card-label"></label>
                    <input type="radio" name="item-color" id="col-3" checked>
                    <label for="col-3" class="form-card-label"></label>
                    <input type="radio" name="item-color" id="col-4">
                    <label for="col-4" class="form-card-label"></label>
                </div>
                <div class="inputs">
                    <div class="qnt">
                        <label for="qnt" class="form-card-label">qnt</label>
                        <input type="number" min="0" value="1" id="qnt">
                    </div>
                    <div class="size">
                        <label for="size" class="form-card-label">size</label>
                        <select id="size">
                            <option disabled selected>Choise size</option>
                            <option value="38">38</option>
                            <option value="45">45</option>
                        </select>
                    </div>
                </div>
                <button class="button button-default" type="submit">add to bag</button>
            </form>
            <ul class="social text-center">
                <li><a href="#" class="tumblr">&#xeaba;</a></li>
                <li><a href="#" class="gplus">&#xea8b;</a></li>
                <li><a href="#" class="pint">&#xead1;</a></li>
                <li><a href="#" class="fb">&#xea90;</a></li>
                <li><a href="#" class="tw">&#xea96;</a></li>
                <li><a href="#" class="msg">&#xe945;</a></li>
            </ul>
        </div>
        <div class="item-image">
            <div id="card-photo-1"></div>
            <div id="card-photo-2"></div>
            <div id="card-photo-3"></div>
            <div id="card-photo-4"></div>
            <div id="card-photo-5"></div>
            <div id="card-photo-6"></div>
            <span class="price">$ 120</span>
        </div>
    </div>
</div>
