<ul class="slider" data-current="1">
    <li class="bg slide1" data-number="1">
        <div class="text">
            <h1>Full<br>party</h1>
            <span>texttexttext</span>
        </div>
    </li>
    <li class="bg slide2" data-number="2">
        <div class="text">
            <h1>Another<br>text</h1>
            <span>texttexttext</span>
        </div>
    </li>
    <li class="bg slide3" data-number="3">
        <div class="text">
            <h1>One more<br>text</h1>
            <span>texttexttext</span>
        </div>
    </li>
</ul>
