//@font-face {
//  font-family: "BebasNeue";
//  src: url("../fonts/BebasNeueRegular.woff") format("woff"),
//  url("../fonts/BebasNeueRegular.otf") format("otf");
//  font-style: normal;
//  font-weight: normal;
//}
//
//@font-face {
//  font-family: "BebasNeue";
//  src: url("../fonts/BebasNeueBold.woff") format("woff"),
//  url("../fonts/BebasNeueBold.ttf") format("truetype");
//  font-style: normal;
//  font-weight: bold;
//}
//
//@font-face {
//  font-family: "CaviarDreams";
//  src: url("../fonts/CaviarDreams-Bold.woff") format("woff"),
//  url("../fonts/CaviarDreams-Bold.ttf") format("truetype");
//  font-style: normal;
//  font-weight: bold;
//}
//
//@font-face {
//  font-family: "CaviarDreams";
//  src: url("../fonts/CaviarDreams.woff") format("woff"),
//  url("../fonts/CaviarDreams.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}

$blue: #5dc4ff;
$red: #ff0000;

body {
  font-family: "BebasNeue", sans-serif;
  overflow: hidden;
  min-width: 1024px;
  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: url(../img/bg-image.jpg) center top no-repeat;
    background-size: cover;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
