@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeueRegular.woff") format("woff"),
    url("../fonts/BebasNeueRegular.otf") format("otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeueBold.woff") format("woff"),
    url("../fonts/BebasNeueBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "CaviarDreams";
    src: url("../fonts/CaviarDreams-Bold.woff") format("woff"),
    url("../fonts/CaviarDreams-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "CaviarDreams";
    src: url("../fonts/CaviarDreams.woff") format("woff"),
    url("../fonts/CaviarDreams.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
