@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "partials/mixin";
@import "partials/common";
@import "partials/checkbox-custom";
@import "partials/radio-custom";
@import "partials/button";
@import "partials/fonts";
@import "partials/main-nav";
@import "partials/moving-panel";
@import "partials/calendar";
@import "partials/footer";
@import "partials/subscription-has-expired";
@import "partials/music";
@import "partials/item-grid";
@import "partials/open-card";
@import "partials/what-new";
@import "partials/form";
@import "partials/social";
@import "partials/gallery";
@import "partials/profile-user";

.blur {
  filter: blur(2px);
}

.wrap-blog {
  .nav-tabs {
    padding-right: 15px;
    &:after {
      width: 100%;
      height: 1px;
      margin-top: 15px;
      background-color: $blueColor;
      display: block;
      content: '';
    }
    li {
      &:first-child {
        margin: 0 15px;
        padding-right: 15px;
        border-right: 2px solid;
      }
      &:hover {
        color: #5dc4ff;
      }
    }
  }
}

.tabs {
  margin: -25px 0 0;
  .nav-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $BebasNeueRegular;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 20px;
    li {
      display: inline-block;
      color: #fff;
      cursor: pointer;
      position: relative;
      line-height: .7;
    }
    .active {
      color: #5dc4ff;
      cursor: default;
    }
  }
  &__content {
    display: none;
    @include cf;
    &.active {
      display: block;
    }
  }
}

/* SIDEBAR */
.sidebar {
  width: 400px;
  margin: 0 15px 0 5px;
  float: right;
  &-title {
    text-align: right;
  }
  .blog-item-content {
    .avatar {
      width: 115px;
      height: 115px;
    }
    .title {
      font-size: 16px;
    }
    .text {
      font-size: 11px;
    }
  }
}

.whats-new-title {
  margin: 0;
  padding: 10px 0 8px;
  font-size: 12px;
  color: #5dc4ff;
  letter-spacing: 2px;
  line-height: 1;
  font-family: $BebasNeueRegular;
  font-weight: normal;
}

/*КОНТЕНТ ВНУТРИ ВЫЕЗЖАЮЩЕГО БЛОКА*/
.content {
  padding-right: 30px;
  min-height: 1200px;
  position: relative;
  z-index: 6;
  &::after {
    display: block;
    content: '';
    clear: both;
  }
  .item-list {
    display: inline-block;
    float: left;
    width: 145px;
    margin: 0 20px 0 60px;
    font-family: $CaviarDreams-Bold;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    ul {
      padding: 0;
      margin-bottom: 30px;
      list-style: none;
    }
    li {
      line-height: 1.8;
      padding-bottom: 2px;
      margin-bottom: 14px;
      letter-spacing: 2px;
      cursor: pointer;
      font-size: 10px;
      font-weight: normal;
      font-family: $CaviarDreams-Bold;
      border: 1px solid transparent;
      transition: .3s ease;
      &:hover, &.active {
        color: $blueColor;
        border-bottom-color: $blueColor;
      }
    }
  }
  .tab-block {
    display: none;
    float: left;
    width: calc(100% - 310px);
    margin-right: 80px;
    &-title {
      width: 60%;
      margin: -20px 0 20px 65px;
      font-size: 14px;
      font-style: italic;
      color: white;
      font-family: $RobotoCondensed;
      font-weight: 300;
    }
    .drop-nav {
      float: left;
      margin-right: 5px;
      position: relative;
      z-index: 5;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      li {
        text-align: center;
        line-height: 35px;
        width: 35px;
        height: 35px;
        margin-bottom: 1px;
        background-color: rgba(0, 0, 0, 0.5);
        font-weight: normal;
        font-size: 12px;
        cursor: pointer;
        font-family: $BebasNeueBold;
        letter-spacing: 1px;
      }
      .active {
        background-color: $blueColor;
        color: #000;
      }
      &.diet li {
        width: 60px;
      }
    }

  }
  .table-container {
    height: auto;
    .preview {
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 50%;
      display: none;
    }
    .b-info {
      padding-right: 350px;
    }
    .drop-tab {
      height: auto;
      margin-bottom: 1px;
      overflow: hidden;
      transition: .3s ease;
      table {
        width: 100%;
        border-collapse: separate;
        height: 100px;
        margin-bottom: 5px;
        border-spacing: 0;
      }
      &.active {
        .preview {
          display: block;
        }
        th {
          color: #000;
          background-color: $blueColor;
          border-bottom: 1px solid rgba(0, 0, 0, 0.8);
          transition: .3s ease;
        }
        td {
          color: white;
          background-color: $opacity-blue;
          border-right: 1px solid rgba(0, 0, 0, 0.7);
          transition: .3s ease;
          &:last-child {
            border-right: none;
          }
        }
      }
    }
    tr {
      text-align: left;
      &:nth-child(2) td {
        padding-top: 10px;
      }
      &:last-child td {
        padding-bottom: 13px;
      }
    }
    th {
      width: 100%;
      padding: 0 18px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 35px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      font-family: $CaviarDreams-Bold;
      font-size: 13px;
      letter-spacing: 1px;
    }
    td {
      width: 50%;
      padding: 0 22px;
      background-color: rgba(0, 0, 0, 0.5);
      line-height: 25px;
      border-right: 1px solid rgba(255, 255, 255, 0.05);
      font-family: $RobotoCondensed;
      font-weight: 300;
      font-size: 14px;
      &:last-child {
        border-right: none;
      }
    }
  }
}

.widget {
  margin: 0;
  padding: 0;
  list-style: none;
  .post {
    margin-bottom: 3px;
    padding: 15px 20px;
    color: #9e9e9e;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
    transition: .3s ease;
    @include cf;
    &-content {
      color: #9e9e9e;
      span {
        display: block;
        transition: .3s ease;
      }
    }
    &-img {
      border-radius: 50%;
      margin-right: 15px;
    }
    &-title {
      font-size: 14px;
      color: #9e9e9e;
      text-transform: uppercase;
      font-family: $BebasNeueRegular;
    }
    &-text {
      margin: 10px 0;
      font-size: 11px;
      color: #959595;
      line-height: 16px;
      font-family: 'Roboto', sans-serif;
    }
    &-meta {
      font-family: Arial, sans-serif;
      font-size: 10px;
      color: #353535;
    }
    &:hover {
      background-color: #000;
      .post {
        &-title {
          color: #5dc4ff;
        }
        &-text {
          color: #fff;
        }
      }
    }
  }
}

.slider {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  list-style: none;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    transition: opacity 1s ease;
    &.slide1 {
      opacity: 1;
      background: url(../img/bg-image.jpg) center top no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    &.slide2 {
      opacity: 0;
      background: url(../img/bg_header.jpg) center top no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    &.slide3 {
      opacity: 0;
      background: url(../img/bg_image3.jpg) center top no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    .text {
      position: absolute;
      top: 30%;
      right: 30px;
      font-weight: bold;
      text-align: right;
      h1 {
        margin: 0;
      }
      span {
        font-size: 30px;
        color: white;
      }
    }
  }
}

.intro-video {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  border: 0;
  background-color: #ae00ff;
  display: flex;
  align-items: center;
  justify-content: center;
  .intro-text {
    font-size: 59px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
  }
}

.info-panel-bottom {
  position: absolute;
  right: 0;
  bottom: 20px;
  background-color: #000;
  color: #5dc4ff;
  padding: 10px 45px 10px 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: $BebasNeueRegular;
  letter-spacing: 3px;
}

.wrapper {
  float: left;
  width: calc(100% - 310px);
  margin-right: 85px;
}

#contacts-slider {
  margin-bottom: 15px;
  .owl-item {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .item img {
    float: left;
    height: auto;
    margin-right: 15px;
  }
  .slider-text {
    padding: 15px;
    h3 {
      font-size: 18px;
      color: #5dc4ff;
      margin: 0 0 15px;
      font-family: $CaviarDreams-Bold;
      text-transform: uppercase;
    }
    p {
      margin: 0;
      font-size: 16px;
      font-family: $RobotoCondensed;
      font-style: italic;
      font-weight: 300;
      line-height: 1.5;
      color: #fff;
    }
  }
}

.owl-theme .owl-controls .owl-page span {
  margin-top: 15px;
  display: block;
  width: 6px;
  height: 6px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #284e64;
}

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(../img/AjaxLoader.gif) no-repeat center center
}

//* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline; /*IE7 life-saver */
}

//* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.close {
  position: absolute;
  z-index: 20;
  top: 22px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &::after,
  &::before {
    position: absolute;
    display: block;
    top: 19px;
    left: 5px;
    content: '';
    width: 30px;
    height: 1px;
    opacity: .9;
    transform: rotate(45deg)
  }
  &::before {
    transform: rotate(-45deg)
  }
  &-defaut {
    &::after,
    &::before {
      background-color: #fff;
    }
    &:hover::after,
    &:hover::before {
      background-color: #5dc4ff
    }
  }
  &-fill,
  &-blue {
    &::after,
    &::before {
      background-color: #5dc4ff
    }
    &:hover::after,
    &:hover::before {
      background-color: #fff;
    }
  }
  &-fill {
    background-color: #000;
  }
}

.modal-overlay {
  width: 100%;
  height: 100%;
  padding: 40px 0 0 42px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
}

// BIO
.tab-bio {
  position: relative;
  .bio-container {
    margin-left: 10px;
    margin-right: 25px;
  }
  .main-image {
    display: none;
    width: 100%;
    height: 370px;
    background: center 25% no-repeat;
    &.now {
      display: block;
    }
    &.img-slide-1 {
      background-image: url(../img/bg_image3.jpg);
      background-size: cover;
    }
    &.img-slide-2 {
      background-image: url(../img/bg_header.jpg);
      background-size: cover;
    }
    &.img-slide-3 {
      background-image: url(../img/bg-image.jpg);
      background-size: cover;
    }
    &.img-slide-4 {
      background-image: url(../img/main-img.jpg);
      background-size: cover;
    }
    &.img-slide-5 {
      background-image: url(../img/bg_image3.jpg);
      background-size: cover;
    }
    &.img-slide-6 {
      background-image: url(../img/bg_header.jpg);
      background-size: cover;
    }
    &.img-slide-7 {
      background-image: url(../img/main-img.jpg);
      background-size: cover;
    }
    &.img-slide-8 {
      background-image: url(../img/bg-image.jpg);
      background-size: cover;
    }
  }
  .photo-slider {
    position: relative;
    .arrow-next, .arrow-prev {
      top: 70px;
      position: absolute;
      width: 15px;
      height: 30px;
      cursor: pointer;
      &::after {
        position: absolute;
        z-index: 2;
        display: block;
        content: '';
        width: 18px;
        height: 18px;
        transform: rotate(45deg);
        border: 1px solid $blueColor;
      }
      &:hover::after {
        border-color: #fff;
      }
    }
    .arrow-next {
      right: -18px;
      &::after {
        border-bottom: 0;
        border-left: 0;
      }
    }
    .arrow-prev {
      left: -20px;
      &::after {
        border-top: 0;
        border-right: 0;
      }
    }
  }
  .photo-slide {
    height: 160px;
    margin-right: 1px;
    margin-top: 1px;
    cursor: pointer;
  }
  #slide-1 {
    background: url(../img/preview-1.jpg) center no-repeat;
    background-size: cover;
  }
  #slide-2 {
    background: url(../img/preview-2.jpg) center no-repeat;
    background-size: cover;
  }
  #slide-3 {
    background: url(../img/preview-3.jpg) center no-repeat;
    background-size: cover;
  }
  #slide-4 {
    background: url(../img/preview-4.jpg) center no-repeat;
    background-size: cover;
  }
  #slide-5 {
    background: url(../img/preview-5.jpg) center no-repeat;
    background-size: cover;
  }
  #slide-6 {
    background: url(../img/preview-6.jpg) center no-repeat;
    background-size: cover;
  }
  #slide-7 {
    background: url(../img/preview-0.jpg) center no-repeat;
    background-size: cover;
  }
  #slide-8 {
    background: url(../img/preview-2.jpg) center no-repeat;
    background-size: cover;
  }

  .about {
    float: left;
    color: #fff;
    padding: 25px 0;
    font-family: $RobotoCondensed;
    font-weight: 300;
    width: calc(100% - 180px);
    font-size: 13px;
    letter-spacing: 1px;
    p {
      margin-bottom: 8px;
      line-height: 1.5;
    }
  }
  .footer-bio {
    float: right;
    width: 150px;
    text-align: left;
    clear: none;
    margin: 0;
    li:nth-child(3) {
      margin-right: 0;
    }
  }

  /*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

  /* clearfix */
  .owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  /* display none until init */
  .owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
  }
  .owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
  }

  .owl-carousel .owl-item {
    float: left;
  }
  .owl-controls .owl-page,
  .owl-controls .owl-buttons div {
    cursor: pointer;
  }
  .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* mouse grab icon */
  .grabbing {
    cursor: url(../img/grabbing.png) 8 8, move;
  }

  /* fix */
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
  }
}

.stay-connected {
  display: block;
  width: 250px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  font-size: 10px;
  clear: both;
  &-title {
    padding: 10px 0;
    margin-bottom: 10px;
    font-family: $CaviarDreams-Bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    border-bottom: 1px solid $blueColor;
    i {
      color: #fff;
    }
  }
  .social {
    &:after {
      display: none;
    }
    li {
      width: 33%;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
