$opacity-blue: rgba(93, 196, 255, 0.3);
$opacity-black: rgba(0, 0, 0, 0.5);
$blueColor: #5dc4ff;
$red: #ff0000;

$BebasNeueRegular: "BebasNeueRegular", sans-serif;
$BebasNeueBold: "BebasNeueBold", sans-serif;

$CaviarDreams: "CaviarDreams", sans-serif;
$CaviarDreamsItalic: "CaviarDreams-BoldItalic", sans-serif;
$CaviarDreams-Bold: "CaviarDreams-Bold", sans-serif;

$RobotoCondensed: 'Roboto Condensed', sans-serif;
$Roboto: 'Roboto', sans-serif;

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $BebasNeueRegular;
  line-height: 1.4;
  overflow: hidden;
  min-width: 1024px;
  background: url(../img/bg-image.jpg) center top no-repeat #000;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.4;
}

h1 {
  font-size: 90px;
  color: $blueColor;
}

img {
  max-width: 100%;
}

.white-color {
  color: #fff;
}

::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-mail4:before {
  content: "\ea86";
}

.icon-mail3:before {
  content: "\ea85";
}

.icon-mail2:before {
  content: "\ea84";
}

.icon-mail:before {
  content: "\ea83";
}

.icon-share2:before {
  content: "\ea82";
}

.icon-eject:before {
  content: "\ea25";
}

.icon-next2:before {
  content: "\ea24";
}

.icon-previous2:before {
  content: "\ea23";
}

.icon-last:before {
  content: "\ea22";
}

.icon-first:before {
  content: "\ea21";
}

.icon-forward3:before {
  content: "\ea20";
}

.icon-backward2:before {
  content: "\ea1f";
}

.icon-stop2:before {
  content: "\ea1e";
}

.icon-pause2:before {
  content: "\ea1d";
}

.icon-play3:before {
  content: "\ea1c";
}

.icon-play2:before {
  content: "\ea15";
}

.icon-eye:before {
  content: "\e9ce";
}

.icon-unlocked:before {
  content: "\e990";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-user:before {
  content: "\e971";
}
