.footer-bottom {
  position: fixed;
  z-index: 30;
  bottom: -100px;
  max-width: 1500px;
  min-width: 1300px;
  height: 90px;
  background-color: rgba(0, 0, 0, .68);
  -webkit-transform: skewY(8deg);
  -moz-transform: skewY(8deg);
  -o-transform: skewY(8deg);
  transform: skewY(8deg);
  .logo {
    position: absolute;
    top: 15px;
    left: 24px;
    transform: skewY(-8deg)
  }
}
