.form {
  &-group {
    margin-bottom: 15px;
    position: relative;
  }
  &-control {
    width: 100%;
    height: 40px;
    padding: 6px 15px;
    font-size: 14px;
    color: #b2b1b1;
    font-family: $CaviarDreamsItalic;
    background-color: #fff;
    display: block;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #848484;
    transition: all ease-in-out .15s;
    &:focus {
      outline: 0;
      + label {
        top: -16px;
        opacity: 1;
        left: 0;
      }
    }
    textarea {
      resize: vertical;
    }
  }
  &-label {
    display: inline-block;
    max-width: 100%;
    position: absolute;
    top: 9px;
    left: 15px;
    font-family: $RobotoCondensed;
    font-style: italic;
    font-weight: 300;
    font-size: 13px;
    opacity: 0;
    transition: all ease-in-out .5s;
  }
}

.general-form {
  width: 290px;
  margin: 0 auto;
  background: rgba(93, 196, 255, 0.77);
  padding: 10px 20px 50px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  .sign-in {
    font-size: 20px;
    color: #f3f2f2;
    font-family: $CaviarDreams-Bold;
    letter-spacing: 4px;
  }
  .social-circle {
    margin: 26px 0 16px;
    li a {
      width: 42px;
      height: 42px;;
      line-height: 42px;
    }
  }
  .form-group {
    margin-bottom: 12px;
    &.last-element {
      margin-bottom: 20px;
    }
  }
  .form-control {
    height: 38px;
  }
  .remember {
    font-size: 10px;
    font-family: $CaviarDreams-Bold;
    text-decoration: underline;
    color: #000;
    display: block;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    &:hover {
      text-decoration: none;
    }
  }
  .button {
    width: 120px;
    padding: 12px 5px;
    font-family: $CaviarDreams-Bold;
    font-size: 11px;
    color: #fff;
    &:hover {
      background-color: #000;
      color: $blueColor;
    }
  }
  hr {
    margin-top: 22px;
    border: 0;
    border-top: 1px solid #000;
  }
  .b-text {
    font-size: 16px;
    font-family: $BebasNeueRegular;
    margin: 20px 0;
    letter-spacing: 1px;
  }
}

.feedback {
  &-form {
    .no-robot {
      width: 300px;
      margin: 95px auto 0;
      text-align: center;
      .button {
        margin-top: 11px;
        width: 100%;
        font-size: 13px;
        letter-spacing: 2px;
      }
    }
    .form-control {
      height: 35px;
      color: #fff;
      font-family: $RobotoCondensed;
      font-style: italic;
      font-weight: 300;
      background-color: rgba(0, 0, 0, .3);
      border: 0 solid #5dc4ff;
      border-bottom-width: 1px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
    .form-label {
      color: #fff;
    }
  }
  &-title {
    margin: 0 0 15px;
    font-family: "CaviarDreams-Bold", sans-serif;
    font-size: 18px;
    text-align: right;
    text-transform: uppercase;
  }
}

.members {
  &-form {
    &-title {
      font-family: $BebasNeueRegular;
      font-size: 85px;
      font-weight: normal;
      margin: 0 0 12px;
      line-height: 1;
    }
    &-body {
      padding: 0 5px;
    }
    .info-profile {
      margin: 13px 0 24px;
      .profile-box {
        width: 57px;
        height: 57px;
        float: left;
        margin: 10px 15px 10px 0;
        border-radius: 50%;
        border: 3px solid;
        .profile {
          width: 28px;
          height: 57px;;
        }
      }
      .text {
        font-size: 15px;
        font-family: $BebasNeueRegular;
        text-align: left;
        line-height: 1.3;
      }
    }
  }
}

.no-access-form {
  padding-top: 40px;
  .title {
    font-size: 160px;
    line-height: 90px;
  }
  .form-text {
    font-size: 62px;
    font-family: $BebasNeueRegular;
    &-2 {
      font-size: 19px;
      letter-spacing: 1px;
      line-height: 24px;
      margin-bottom: 25px;
    }
  }
}