.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.point {
  position: fixed;
  top: -35px;
  min-height: 1000px;
  height: calc(100% + 50px);
  width: 40px;
  padding: 40px 0;
  line-height: 40px;
  font-size: 12px;
  letter-spacing: 5px;
  text-align: right;
  text-transform: uppercase;
  transform: rotate(190deg);
  writing-mode: vertical-lr;
  cursor: pointer;
  font-family: "CaviarDreams", sans-serif;
  font-weight: 700;
  color: #fff;

  &:nth-child(1) {
    z-index: 20;
    left: -87px;
    width: 55px;
    line-height: 0;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.97);
  }
  &:nth-child(2) {
    z-index: 18;
    left: -32px;
    background-color: rgba(0, 0, 0, 0.93);
  }
  &:nth-child(3) {
    z-index: 16;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.88);
  }
  &:nth-child(4) {
    z-index: 14;
    left: 48px;
    background-color: rgba(0, 0, 0, 0.79);
  }
  &:nth-child(5) {
    z-index: 12;
    left: 88px;
    background-color: rgba(0, 0, 0, 0.57);
  }
  &:hover {
    opacity: 0.9;
  }
}
