.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.point {
  position: fixed;
  top: -35px;
  min-height: 1000px;
  height: calc(100% + 50px);
  width: 42px;
  padding: 42px 0;
  line-height: 42px;
  font-size: 16px;
  letter-spacing: 6.3px;
  text-align: right;
  text-transform: uppercase;
  transform: rotate(190deg);
  writing-mode: vertical-lr;
  cursor: pointer;
  font-family: $CaviarDreams-Bold;
  color: #fff;
  border-left: 1px solid #252525;
  &:first-of-type {
    z-index: 20;
    left: -62px;
    width: 55px;
    line-height: 0;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.97);
    &:before {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: -53px;
      background-color: #000;
      z-index: 9;
      content: '';
    }
  }
  &:nth-child(2) {
    z-index: 18;
    left: -7px;
    background-color: rgba(0, 0, 0, 0.93);
  }
  &:nth-child(3) {
    z-index: 16;
    left: 35px;
    background-color: rgba(0, 0, 0, 0.88);
  }
  &:nth-child(4) {
    z-index: 14;
    left: 77px;
    background-color: rgba(0, 0, 0, 0.79);
  }
  &:last-of-type {
    z-index: 12;
    left: 120px;
    background-color: rgba(0, 0, 0, 0.57);
  }
  &:hover {
    opacity: 0.9;
  }
}
