#p1 {
  z-index: 21;
  .content, header {
    padding-left: 20px;
  }
}

#p2 {
  z-index: 19;
  .content, header {
    padding-left: 91px;
  }
}

#p3 {
  z-index: 17;
  .content, header {
    padding-left: 134px;
  }
}

#p4 {
  z-index: 15;
  .content, header {
    padding-left: 178px;
  }
}

#p5 {
  z-index: 13;
  .content, header {
    padding-left: 213px;
  }
}

.moving-panel {
  display: none;
  position: absolute;
  top: 0;
  left: -120%;
  width: 100%;
  min-height: 700px;
  height: 100%;
  color: $blueColor;
  &::after {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    height: 100%;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    transform: skewX(-7deg);
    transition: .3s ease;
    z-index: 5;
  }
  //.moving-panel-header
  &-header {
    margin: 0 0 13px 60px;
    padding: 8px 30px 0 0;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 7;
    &::after {
      height: 1px;
      margin-bottom: 1px;
      display: block;
      content: '•';
      width: 100%;
      background-color: #5dc4ff;
      font-size: 20px;
      line-height: 2px;
      text-shadow: -2px 0 0 #0a0b0b;
    }
    .title {
      margin: 0;
      padding-right: 15px;
      white-space: nowrap;
      display: inline;
      font-size: 40px;
      font-family: $BebasNeueBold;
      font-weight: normal;
      letter-spacing: 2px;
    }
    .info {
      margin: 0;
      padding: 0;
      position: absolute;
      right: 37px;
      top: 10px;
      list-style: none;
      li {
        width: 35px;
        height: 35px;
        margin-right: 11px;
        display: inline-block;
        position: relative;
        cursor: pointer;
        background-color: #000;
        border: 1px solid #5dc4ff;
        border-radius: 50%;
        line-height: 35px;
        text-align: center;
        transition: .3s ease;
        svg {
          width: 15px;
          display: inline-block;
          vertical-align: middle;
          fill: #5dc4ff;
          transition: .3s ease;
        }
        &:hover {
          background-color: $blueColor;
          svg {
            fill: #000;
          }
        }
      }
      .basket-count[data-count]:not([data-count='']):before {
        color: #fff;
        content: attr(data-count);
        font-size: 10px;
        position: absolute;
        bottom: -18px;
        right: -7px;
      }
    }
    .close-defaut {
      top: 16px;
      right: -14px;
    }
  }
}


