#p1 {
  z-index: 21;
  .content, header {
    padding-left: 20px;
  }
}

#p2 {
  z-index: 19;
  .content, header {
    padding-left: 55px;
  }
}

#p3 {
  z-index: 17;
  .content, header {
    padding-left: 95px;
  }
}

#p4 {
  z-index: 15;
  .content, header {
    padding-left: 135px;
  }
}

#p5 {
  z-index: 13;
  .content, header {
    padding-left: 175px;
  }
}

.moving-panel {
  display: none;
  position: absolute;
  top: 0;
  left: -120%;
  width: 100%;
  min-height: 700px;
  height: 100%;
  color: $blueColor;
  &::after {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    height: 100%;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    transform: skewX(-7deg);
    transition: .3s ease;
    z-index: 5;
  }
  //.moving-panel-header
  .moving-panel-header {
    margin: 0 0 20px 60px;
    padding: 20px 30px 0 0;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 7;
    &::after {
      height: 1px;
      margin-bottom: 4px;
      display: block;
      content: '•';
      width: 100%;
      background-color: #5dc4ff;
      font-size: 20px;
      line-height: 4px;
      text-shadow: -2px 0 0 #0a0b0b;
    }
    .title {
      margin: 0;
      padding-right: 20px;
      white-space: nowrap;
      display: inline;
      font-size: 40px;
    }
    .info {
      margin: 0;
      padding: 0;
      position: absolute;
      right: 60px;
      top: 21px;
      list-style: none;
      li {
        margin-right: 10px;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid #5dc4ff;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
      }
      .profile {
        background: url(../img/svg/profile.svg) center no-repeat #000;
        background-size: 60% 60%;
      }
      .basket {
        background: url(../img/svg/basket.svg) center no-repeat #000;
        background-size: 60% 60%;
        &[data-count]:not([data-count='']):before {
        color: #fff;
          content: attr(data-count);
          font-size: 10px;
          position: absolute;
          bottom: -11px;
          right: -5px;
        }
      }
    }
  }
}


