.social-circle li {
  text-align: center;
  a {
    display: block;
    width: 35px;
    height: 35px;
    color: #000;
    background-color: #5dc4ff;
    border-radius: 50%;
    font-size: 20px;
    line-height: 35px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    &:hover {
      color: #5dc4ff;
      background-color: #fff;
    }
  }
}
