.subscription-has-expired {
  width: 290px;
  padding: 40px 15px;
  text-transform: uppercase;
  background-color: rgba(93, 196, 255, .8);
  color: #000;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .15);
  font-family: $BebasNeueRegular;
  .head {
    margin-bottom: 35px;
    text-align: center;
    line-height: 1;
  }
  .title {
    font-size: 160px;
    line-height: 120px;
  }
  .text {
    margin: 0 0 10px;
    font-size: 30px;
    &-2 {
      font-size: 13px;
      font-family: $CaviarDreams-Bold;
      letter-spacing: 2px;
    }
    &-3 {
      margin-top: 4px;
      font-size: 10px;
      letter-spacing: 1px;
    }
  }
  .button {
    width: 100%;
    margin-top: 25px;
    font-size: 11px;
    letter-spacing: 2px;
    font-family: $CaviarDreams-Bold;
    &.button-default:hover {
      background-color: #ffffff;
      color: #000;
    }
  }
  .select-subscription {
    padding: 0 20px;
  }
}

.select-subscription {
  .label-block {
    margin-bottom: 18px;
    display: block;
    font-size: 15px;
    @include cf;
    .radio-custom-view {
      display: block;
    }
    .text-right {
      letter-spacing: 3px;
      float: right;
      line-height: .9;
    }
    .cash {
      width: 75px;
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      text-align: right;
    }
  }
}
